<html xmlns:th="http://www.thymeleaf.org">

<body id="myfooter">

<div class="container text-center" th:fragment="footer">
    <hr />
    Powered by VMware Tanzu along with Spring Boot and <a href="https://strimzi.io/">Strimzi</a> Kafka Operator <br />
    <a href="mailto:pasa@vmware.com" >Pas Apicella </a>
    &copy; 2020. All Rights Reserved
    <br />
    <br />
    <img src="tanzu-logo-small.png"
         th:src="@{tanzu-logo-small.png}"
         alt="Tanzu Logo"
         border="0"/>
</div>

</body>
</html>